@import '../../scss/colors';

$inputPadding: 10px;

.form {
  background: white;
  box-shadow: 0 1px 10px -6px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 900px;
  margin: 10px auto;
  padding: 40px;
  width: 90vw;

  &__fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  &__file {
    flex: 1 1;
    padding: 10px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 250px;
  }

  &__button {
    align-items: center;
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
  }

  &__spinner {
    animation: spinner 1s linear infinite;
    border-radius: 50%;
    font-size: 0.9rem;
    margin: 0 6px;
    transform-origin: center;
    @keyframes spinner {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
    }
  }

  &__errorMessage {
    background-color: lighten($color: $red, $amount: 42);
    border: 1px dashed $red;
    display: grid;
    padding: 10px;
    place-content: center;
    width: 100%;
  }
}
