@import '../../../scss/colors';
@import '../FormControl.scss';

.fileField {
  display: flex;
  margin: 0 auto;
  position: relative;
  height: 30vw;
  max-height: 300px;
  max-width: 300px;
  min-height: 250px;
  min-width: 250px;
  outline: 1px solid $gray;
  width: 30vw;

  &--hasError {
    outline: 1px solid $red;
  }
  &:focus-within {
    outline: 1px solid $blue;
  }

  &__input {
    width: 0px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &__label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    position: relative;
    overflow: hidden;
  }

  &__placeholder {
    background-color: $gray;
    display: grid;
    flex-direction: column;
    font-size: 0.8rem;
    height: 100%;
    place-content: center;
    text-align: center;

    span {
      margin: 10px 0;
      font-size: 2.6rem;
    }

    & > * {
      opacity: 0.6;
    }
  }

  &__preview {
    flex: 1 1;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__button {
    border: none;
    bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: center;
    position: absolute;
    pointer-events: none;
    width: 100%;
  }
  &__errorMessage {
    text-align: center;
  }
}
